body{
    background-color: #EBB646;
    color: #0C0B13;
}
.efbody__intro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.efbody__intro-text{
    font-family: 'Courier Prime';
    letter-spacing: 2px;
    font-size: 34px;
    line-height: 60px;
}
.efbody__user-cont{
    height: 300px;
    overflow: scroll;
}
.efbody__user-option{
    font-family: 'Courier Prime';
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}
.efbody__none{
    color: #BF834E;
    font-style: italic;
    cursor: pointer;
}
.efbody__input{
    width: 250px;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-family: "Courier Prime";
    letter-spacing: -1px;
}
.efbody__submit{
    font-family: "Courier Prime";
    line-height: 34px;
    cursor: pointer;
}
.efbody__error-space{
    font-family: "Courier Prime";
    color: #6C3F20;
}